/* This makes the action button text smaller */
/* I believe this is redundante with [.DetailAction] below, but leaving it in the code in case it's not.
a.DetailAction, button.DetailAction, div.DetailAction {
  font-size: 18px;
}
*/

/* For some reason, Foundation adds weird negative margins to their [.grid-margin-x] divs, even when they should be centered. */
.align-center>.grid-margin-x {
  margin-left: 0;
}

/* This makes the category button icons  smaller */
.category-box .category-icon {
  font-size: 3em;
  margin-top: 16px;
}

/* This makes the action button text not bold */
.DetailAction  {
  font-size: 18px;  /* Adding this here to replace the [a.DetailAction, button.DetailAction, div.DetailAction] styling above. */
  font-weight: normal;
}

div.rss-container {
  padding: 15px;
  font-family: Arial, sans-serif;
}

div.rss-headline {
  font-family: Helvetica Neue;
  color: #2b2b2b;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.42857143;
}

/* Override Foundation's odd decision to decrease the font-size of labels */
label {
  font-size: 1em;
}

/* prevent "flash of unformatted content", by hiding elements until Foundation & Bootstrap load */
.no-fouc {
  display: none;
}

.quickjump-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
  
.quickjump {
  margin: 0 10px;
  text-align: center;
  width: 200px;
}

#32772 {
  margin: 2em;
}

/* Unhides .no-fouc elements once the window has loaded */
@media screen and (min-width: 40em) {
  .no-fouc {
    display: block;
  }
