/* This makes the action button text smaller */
/* I believe this is redundante with [.DetailAction] below, but leaving it in the code in case it's not.
a.DetailAction, button.DetailAction, div.DetailAction {
  font-size: 18px;
}
*/

/* For some reason, Foundation adds weird negative margins to their [.grid-margin-x] divs, even when they should be centered. */
.align-center>.grid-margin-x {
  margin-left: 0;
}

/* This makes the category button icons  smaller */
.category-box .category-icon {
  font-size: 3em;
  margin-top: 16px;
}

/* This makes the action button text not bold */
.DetailAction  {
  font-weight: normal;
}

a.DetailAction, button.DetailAction, div.DetailAction {
  font-size: 18px;  /* This needs to be here becauase it doesn't work just using [.DetailAction], don't change it back Adam */
}

div.rss-container {
  padding: 15px;
  font-family: Arial, sans-serif;
}

div.rss-headline {
  font-family: Helvetica Neue;
  color: #2b2b2b;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.42857143;
}

/* Override Foundation's odd decision to decrease the font-size of labels */
label {
  font-size: 1em;
}

.landing-page-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.landing-page-header > div {
    margin: 0 1em;
    padding-bottom: 1em;
    text-align: center;
}

.landing-page-header-container {
    align-items: center;
    display: flex;
    flex-flow: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 2em 0;
}
.landing-page-header-text-container > h1,
.landing-page-header-text-container > h2 {
  border-bottom: none;
  margin: 0;
  padding: 0;
}
.landing-page-header-text-container > h1 {
    font-size: 50px;
    font-weight: 50;
    letter-spacing: 2px;
    line-height: 1;
}
.landing-page-header-text-container > h2 {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 8px;
}
.landing-page-header-text-container {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}
.landing-page-subheader {
    border-top: 1px dotted #2268ab;
    display: flex;
    font-size: 21px;
    font-weight: 500;
    justify-content: center;
    letter-spacing: 3px;
    padding-top: 1em,
    text-align: center;
}

/* prevent "flash of unformatted content", by hiding elements until Foundation & Bootstrap load */
.no-fouc {
  display: none;
}

.quickjump {
    display: flex;
    flex-flow: column;
    margin: 0 1em;
    text-align: center;
    width: 200px;
}
.quickjump a {
  border-bottom: none;
}

.quickjump-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
}

#32772 {
  margin: 2em;
}

/* Unhides .no-fouc elements once the window has loaded */
@media screen and (min-width: 40em) {
  .no-fouc {
    display: block;
  }
